openapi: 3.2.0
info:
  title: Azure Networking Azure Load Balancer Backend Address Pools……
  description: Distribute traffic across multiple virtual machines and services with Azure Load Balancer. This API provides operations for creating, configuring, and managing load balancers including frontend IP configurations, backend address pools, health probes, load balancing rules, inbound NAT rules, and outbound rules.
  version: '2024-05-01'
  contact:
    name: Microsoft Azure Support
    url: https://azure.microsoft.com/en-us/support/
  license:
    name: Microsoft API License
    url: https://learn.microsoft.com/en-us/legal/microsoft-apis/terms-of-use
servers:
- url: https://management.azure.com
  description: Azure Resource Manager
security:
- OAuth2Auth: []
tags:
- name: Virtual Networks
  description: Operations for creating, updating, deleting, and listing Azure Virtual Networks within subscriptions and resource groups.
paths:
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworks/{name}:
    parameters:
    - $ref: '#/components/parameters/subscriptionId'
    - $ref: '#/components/parameters/resourceGroupName'
    - name: name
      in: path
      required: true
      description: Name of the resource.
      schema:
        type: string
    - $ref: '#/components/parameters/apiVersion'
    get:
      operationId: getVirtualnetworks
      summary: Azure Virtual Network REST API Get resource
      description: Gets a specific virtualNetworks resource.
      tags:
      - Virtual Networks
      responses:
        '200':
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Resource'
        '404':
          description: Not found
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      operationId: createOrUpdateVirtualnetworks
      summary: Azure Virtual Network REST API Create or update resource
      description: Creates or updates a virtualNetworks resource.
      tags:
      - Virtual Networks
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Resource'
      responses:
        '200':
          description: Resource updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Resource'
        '201':
          description: Resource created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Resource'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      operationId: updateVirtualnetworks
      summary: Azure Virtual Network REST API Update resource
      description: Updates a virtualNetworks resource.
      tags:
      - Virtual Networks
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Resource updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Resource'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      operationId: deleteVirtualnetworks
      summary: Azure Virtual Network REST API Delete resource
      description: Deletes a virtualNetworks resource.
      tags:
      - Virtual Networks
      responses:
        '200':
          description: Resource deleted
        '202':
          description: Deletion accepted
        '204':
          description: Resource not found or already deleted
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/virtualNetworks:
    get:
      description: Gets all virtual networks in a subscription.
      operationId: VirtualNetworks_ListAll
      parameters:
      - description: Client API version.
        in: query
        name: api-version
        required: true
        example: '2019-06-01'
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
        in: path
        name: subscriptionId
        required: true
        example: 00000000-0000-0000-0000-000000000000
        schema:
          type: string
      responses:
        '200':
          description: Request successful. The operation returns a list of VirtualNetwork resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkListResult'
      tags:
      - Virtual Networks
      x-ms-examples:
        List all virtual networks:
          parameters:
            api-version: '2019-08-01'
            subscriptionId: subid
          responses:
            '200':
              body:
                value:
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnet1
                  location: westus
                  name: vnet1
                  properties:
                    addressSpace:
                      addressPrefixes:
                      - 10.0.0.0/8
                    dhcpOptions:
                      dnsServers: []
                    provisioningState: Succeeded
                    subnets:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/test-1
                      name: test-1
                      properties:
                        addressPrefix: 10.0.0.0/24
                        provisioningState: Succeeded
                    virtualNetworkPeerings: []
                  type: Microsoft.Network/virtualNetworks
                - id: /subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Network/virtualNetworks/vnet2
                  location: westus
                  name: vnet2
                  properties:
                    addressSpace:
                      addressPrefixes:
                      - 10.0.0.0/16
                    dhcpOptions:
                      dnsServers:
                      - 8.8.8.8
                    provisioningState: Succeeded
                    subnets: []
                    virtualNetworkPeerings: []
                  type: Microsoft.Network/virtualNetworks
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Azure Networking Services Virtual Networks_ List All
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworks:
    get:
      description: Gets all virtual networks in a resource group.
      operationId: VirtualNetworks_List
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        example: my-resource-group
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        example: '2019-06-01'
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
        in: path
        name: subscriptionId
        required: true
        example: 00000000-0000-0000-0000-000000000000
        schema:
          type: string
      responses:
        '200':
          description: Request successful. The operation returns a list of VirtualNetwork resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetworkListResult'
      tags:
      - Virtual Networks
      x-ms-examples:
        List virtual networks in resource group:
          parameters:
            api-version: '2019-08-01'
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            '200':
              body:
                value:
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnet1
                  location: westus
                  name: vnet1
                  properties:
                    addressSpace:
                      addressPrefixes:
                      - 10.0.0.0/8
                    dhcpOptions:
                      dnsServers: []
                    provisioningState: Succeeded
                    subnets:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/test-1
                      name: test-1
                      properties:
                        addressPrefix: 10.0.0.0/24
                        provisioningState: Succeeded
                    virtualNetworkPeerings: []
                  type: Microsoft.Network/virtualNetworks
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnet2
                  location: westus
                  name: vnet2
                  properties:
                    addressSpace:
                      addressPrefixes:
                      - 10.0.0.0/16
                    dhcpOptions:
                      dnsServers:
                      - 8.8.8.8
                    provisioningState: Succeeded
                    subnets: []
                    virtualNetworkPeerings: []
                  type: Microsoft.Network/virtualNetworks
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Azure Networking Services Virtual Networks_ List
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworks/{virtualNetworkName}
  : delete:
      description: Deletes the specified virtual network.
      operationId: VirtualNetworks_Delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        example: my-resource-group
        schema:
          type: string
      - description: The name of the virtual network.
        in: path
        name: virtualNetworkName
        required: true
        example: example-value
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        example: '2019-06-01'
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
        in: path
        name: subscriptionId
        required: true
        example: 00000000-0000-0000-0000-000000000000
        schema:
          type: string
      responses:
        '200':
          description: Delete successful.
        '202':
          description: Accepted and the operation will complete asynchronously.
        '204':
          description: Delete successful.
      tags:
      - Virtual Networks
      x-ms-examples:
        Delete virtual network:
          parameters:
            api-version: '2019-08-01'
            resourceGroupName: rg1
            subscriptionId: subid
            virtualNetworkName: test-vnet
          responses:
            '200': {}
            '202': {}
            '204': {}
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      summary: Azure Networking Services Virtual Networks_ Delete
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    get:
      description: Gets the specified virtual network by resource group.
      operationId: VirtualNetworks_Get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        example: my-resource-group
        schema:
          type: string
      - description: The name of the virtual network.
        in: path
        name: virtualNetworkName
        required: true
        example: example-value
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        example: '2019-06-01'
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
        in: path
        name: subscriptionId
        required: true
        example: 00000000-0000-0000-0000-000000000000
        schema:
          type: string
      - description: Expands referenced resources.
        in: query
        name: $expand
        required: false
        example: example-value
        schema:
          type: string
      responses:
        '200':
          description: Request successful. The operation returns the resulting VirtualNetwork resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetwork'
      tags:
      - Virtual Networks
      x-ms-examples:
        Get virtual network:
          parameters:
            api-version: '2019-08-01'
            resourceGroupName: rg1
            subscriptionId: subid
            virtualNetworkName: test-vnet
          responses:
            '200':
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/test-vnet
                location: westus
                name: test-vnet
                properties:
                  addressSpace:
                    addressPrefixes:
                    - 10.0.0.0/16
                  provisioningState: Succeeded
                  subnets:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/test-vnet/subnets/subnet1
                    name: subnet1
                    properties:
                      addressPrefix: 10.0.1.0/24
                      ipConfigurations:
                      - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/frontendIPConfigurations/fe
                      provisioningState: Succeeded
                  virtualNetworkPeerings: []
                type: Microsoft.Network/virtualNetworks
        Get virtual network with a delegated subnet:
          parameters:
            api-version: '2019-08-01'
            resourceGroupName: rg1
            subscriptionId: subId
            virtualNetworkName: test-vnet
          responses:
            '200':
              body:
                id: /subscriptions/subId/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/test-vnet
                location: westus
                name: test-vnet
                properties:
                  addressSpace:
                    addressPrefixes:
                    - 10.0.0.0/16
                  provisioningState: Succeeded
                  subnets:
                  - id: /subscriptions/subId/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/test-vnet/subnets/subnet1
                    name: subnet1
                    properties:
                      addressPrefix: 10.0.1.0/24
                      delegations:
                      - id: /subscriptions/subId/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/test-vnet/subnets/subnet1/delegations/myDelegation
                        name: myDelegation
                        properties:
                          actions: []
                          provisioningState: Succeeded
                          serviceName: Microsoft.Provider/resourceType
                      ipConfigurations:
                      - id: /subscriptions/subId/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/frontendIPConfigurations/fe
                      provisioningState: Succeeded
                      purpose: ''
                  virtualNetworkPeerings: []
                type: Microsoft.Network/virtualNetworks
        Get virtual network with service association links:
          parameters:
            api-version: '2019-08-01'
            resourceGroupName: rg1
            subscriptionId: subId
            virtualNetworkName: test-vnet
          responses:
            '200':
              body:
                id: /subscriptions/subId/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/test-vnet
                location: westus
                name: test-vnet
                properties:
                  addressSpace:
                    addressPrefixes:
                    - 10.0.0.0/16
                  provisioningState: Succeeded
                  subnets:
                  - etag: W/"4d3e91b4-f67f-48be-880b-e4a8abdd019e"
                    id: /subscriptions/subId/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/test-vnet/subnets/subnet1
                    name: subnet1
                    properties:
                      addressPrefix: 10.0.214.0/24
                      delegations:
                      - etag: W/"4d3e91b4-f67f-48be-880b-e4a8abdd019e"
                        id: /subscriptions/subId/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/test-vnet/subnets/subnet1/delegations/aciDelegation
                        name: aciDelegation
                        properties:
                          actions:
                          - Microsoft.Network/virtualNetworks/subnets/action
                          provisioningState: Succeeded
                          serviceName: Microsoft.Provider/resourceType
                      ipConfigurationProfiles:
                      - id: /subscriptions/subId/resourceGroups/rg1/providers/Microsoft.Network/networkProfiles/networkProfile1/containerNetworkInterfaceConfigurations/eth0/ipConfigurations/ipconfigprofile1
                      provisioningState: Succeeded
                      serviceAssociationLinks:
                      - etag: W/"4d3e91b4-f67f-48be-880b-e4a8abdd019e"
                        id: /subscriptions/subId/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/test-vnet/subnets/subnet1/serviceAssociationLinks/serviceAssociationLink1
                        name: serviceAssociationLink1
                        properties:
                          linkedResourceType: Microsoft.Provider/resourceType
                          provisioningState: Succeeded
                      serviceEndpoints: []
                  virtualNetworkPeerings: []
                type: Microsoft.Network/virtualNetworks
      summary: Azure Networking Services Virtual Networks_ Get
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    patch:
      description: Updates a virtual network tags.
      operationId: VirtualNetworks_UpdateTags
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        example: my-resource-group
        schema:
          type: string
      - description: The name of the virtual network.
        in: path
        name: virtualNetworkName
        required: true
        example: example-value
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        example: '2019-06-01'
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
        in: path
        name: subscriptionId
        required: true
        example: 00000000-0000-0000-0000-000000000000
        schema:
          type: string
      responses:
        '200':
          description: Update successful. The operation returns the resulting VirtualNetwork resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetwork'
      tags:
      - Virtual Networks
      x-ms-examples:
        Update virtual network tags:
          parameters:
            api-version: '2019-08-01'
            location: westus
            parameters:
              tags:
                tag1: value1
                tag2: value2
            resourceGroupName: rg1
            subscriptionId: subid
            virtualNetworkName: test-vnet
          responses:
            '200':
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/test-vnet
                location: westus
                name: test-vnet
                properties:
                  addressSpace:
                    addressPrefixes:
                    - 10.0.0.0/16
                  provisioningState: Succeeded
                  subnets: []
                  virtualNetworkPeerings: []
                tags:
                  tag1: value1
                  tag2: value2
                type: Microsoft.Network/virtualNetworks
      x-ms-long-running-operation: true
      summary: Azure Networking Services Virtual Networks_ Update Tags
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      requestBody:
        content:
          application/json:
            schema:
              description: Tags object for patch operations.
              properties:
                tags:
                  additionalProperties:
                    type: string
                  description: Resource tags.
                  type: object
        description: Parameters supplied to update virtual network tags.
        required: true
    put:
      description: Creates or updates a virtual network in the specified resource group.
      operationId: VirtualNetworks_CreateOrUpdate
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        example: my-resource-group
        schema:
          type: string
      - description: The name of the virtual network.
        in: path
        name: virtualNetworkName
        required: true
        example: example-value
        schema:
          type: string
      - description: Client API version.
        in: query
        name: api-version
        required: true
        example: '2019-06-01'
        schema:
          type: string
      - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
        in: path
        name: subscriptionId
        required: true
        example: 00000000-0000-0000-0000-000000000000
        schema:
          type: string
      responses:
        '200':
          description: Update successful. The operation returns the resulting VirtualNetwork resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetwork'
        '201':
          description: Create successful. The operation returns the resulting VirtualNetwork resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetwork'
      tags:
      - Virtual Networks
      x-ms-examples:
        Create virtual network:
          parameters:
            api-version: '2019-08-01'
            parameters:
              location: eastus
              properties:
                addressSpace:
                  addressPrefixes:
                  - 10.0.0.0/16
            resourceGroupName: rg1
            subscriptionId: subid
            virtualNetworkName: test-vnet
          responses:
            '200':
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/test-vnet
                location: eastus
                name: test-vnet
                properties:
                  addressSpace:
                    addressPrefixes:
                    - 10.0.0.0/16
                  provisioningState: Succeeded
                  subnets: []
                  virtualNetworkPeerings: []
                type: Microsoft.Network/virtualNetworks
            '201':
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/test-vnet
                location: eastus
                name: test-vnet
                properties:
                  addressSpace:
                    addressPrefixes:
                    - 10.0.0.0/16
                  provisioningState: Succeeded
                  subnets: []
                  virtualNetworkPeerings: []
                type: Microsoft.Network/virtualNetworks
        Create virtual network with Bgp Communities:
          parameters:
            api-version: '2019-08-01'
            parameters:
              location: eastus
              properties:
                addressSpace:
                  addressPrefixes:
                  - 10.0.0.0/16
                bgpCommunities:
                  virtualNetworkCommunity: 12076:60000
                subnets:
                - name: test-1
                  properties:
                    addressPrefix: 10.0.0.0/24
            resourceGroupName: rg1
            subscriptionId: subid
            virtualNetworkName: test-vnet
          responses:
            '200':
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/test-vnet
                location: eastus
                name: test-vnet
                properties:
                  addressSpace:
                    addressPrefixes:
                    - 10.0.0.0/16
                  bgpCommunities:
                    regionalCommunity: 12076:51004
                    virtualNetworkCommunity: 12076:60000
                  provisioningState: Succeeded
                  subnets:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/test-vnet/subnets/test-1
                    name: test-1
                    properties:
                      addressPrefix: 10.0.0.0/24
                      provisioningState: Succeeded
                  virtualNetworkPeerings: []
                type: Microsoft.Network/virtualNetworks
            '201':
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/test-vnet
                location: eastus
                name: test-vnet
                properties:
                  addressSpace:
                    addressPrefixes:
                    - 10.0.0.0/16
                  bgpCommunities:
                    regionalCommunity: 12076:51004
                    virtualNetworkCommunity: 12076:60000
                  provisioningState: Succeeded
                  subnets:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/test-vnet/subnets/test-1
                    name: test-1
                    properties:
                      addressPrefix: 10.0.0.0/24
                      provisioningState: Succeeded
                  virtualNetworkPeerings: []
                type: Microsoft.Network/virtualNetworks
        Create virtual network with delegated subnets:
          parameters:
            api-version: '2019-08-01'
            parameters:
              location: westcentralus
              properties:
                addressSpace:
                  addressPrefixes:
                  - 10.0.0.0/16
                subnets:
                - name: test-1
                  properties:
                    addressPrefix: 10.0.0.0/24
                    delegations:
                    - name: myDelegation
                      properties:
                        serviceName: Microsoft.Sql/managedInstances
            resourceGroupName: rg1
            subscriptionId: subId
            virtualNetworkName: test-vnet
          responses:
            '200':
              body:
                id: /subscriptions/subId/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/test-vnet
                location: westcentralus
                name: test-vnet
                properties:
                  addressSpace:
                    addressPrefixes:
                    - 10.0.0.0/16
                  provisioningState: Succeeded
                  subnets:
                  - id: /subscriptions/subId/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/test-vnet/subnets/test-1
                    name: test-1
                    properties:
                      addressPrefix: 10.0.0.0/24
                      delegations:
                      - id: /subscriptions/subId/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/test-vnet/subnets/test-1/delegations/myDelegation
                        name: myDelegation
                        properties:
                          actions: []
                          provisioningState: Succeeded
                          serviceName: Microsoft.Sql/managedInstances
                      provisioningState: Succeeded
                      purpose: ''
                  virtualNetworkPeerings: []
                type: Microsoft.Network/virtualNetworks
            '201':
              body:
                id: /subscriptions/subId/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/test-vnet
                location: westcentralus
                name: test-vnet
                properties:
                  addressSpace:
                    addressPrefixes:
                    - 10.0.0.0/16
                  provisioningState: Succeeded
                  subnets:
                  - id: /subscriptions/subId/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/test-vnet/subnets/test-1
                    name: test-1
                    properties:
                      addressPrefix: 10.0.0.0/24
                      delegations:
                      - id: /subscriptions/subId/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/test-vnet/subnets/test-1/delegations/myDelegation
                        name: myDelegation
                        properties:
                          actions: []
                          provisioningState: Succeeded
                          serviceName: Microsoft.Sql/managedInstances
                      provisioningState: Succeeded
                      purpose: ''
                  virtualNetworkPeerings: []
                type: Microsoft.Network/virtualNetworks
        Create virtual network with service endpoints:
          parameters:
            api-version: '2019-08-01'
            parameters:
              location: eastus
              properties:
                addressSpace:
                  addressPrefixes:
                  - 10.0.0.0/16
                subnets:
                - name: test-1
                  properties:
                    addressPrefix: 10.0.0.0/16
                    serviceEndpoints:
                    - service: Microsoft.Storage
            resourceGroupName: vnetTest
            subscriptionId: subid
            virtualNetworkName: vnet1
          responses:
            '200':
              body:
                id: /subscriptions/subid/resourceGroups/vnetTest/providers/Microsoft.Network/virtualNetworks/vnet1
                location: eastus
                name: vnet1
                properties:
                  addressSpace:
                    addressPrefixes:
                    - 10.0.0.0/16
                  provisioningState: Succeeded
                  subnets:
                  - id: /subscriptions/subid/resourceGroups/vnetTest/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/test-1
                    name: test-1
                    properties:
                      addressPrefix: 10.0.0.0/16
                      ipConfigurations: []
                      provisioningState: Succeeded
                      resourceNavigationLinks: []
                      serviceEndpoints:
                      - locations:
                        - eastus2(stage)
                        - usnorth(stage)
                        provisioningState: Succeeded
                        service: Microsoft.Storage
                  virtualNetworkPeerings: []
                type: Microsoft.Network/virtualNetworks
            '201':
              body:
                id: /subscriptions/subid/resourceGroups/vnetTest/providers/Microsoft.Network/virtualNetworks/vnet1
                location: eastus
                name: vnet1
                properties:
                  addressSpace:
                    addressPrefixes:
                    - 10.0.0.0/16
                  provisioningState: Succeeded
                  subnets:
                  - id: /subscriptions/subid/resourceGroups/vnetTest/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/test-1
                    name: test-1
                    properties:
                      addressPrefix: 10.0.0.0/16
                      ipConfigurations: []
                      provisioningState: Succeeded
                      resourceNavigationLinks: []
                      serviceEndpoints:
                      - locations:
                        - eastus2(stage)
                        - usnorth(stage)
                        provisioningState: Succeeded
                        service: Microsoft.Storage
                  virtualNetworkPeerings: []
                type: Microsoft.Network/virtualNetworks
        Create virtual network with service endpoints and service endpoint policy:
          parameters:
            api-version: '2019-08-01'
            parameters:
              location: eastus2euap
              properties:
                addressSpace:
                  addressPrefixes:
                  - 10.0.0.0/16
                subnets:
                - name: test-1
                  properties:
                    addressPrefix: 10.0.0.0/16
                    serviceEndpointPolicies:
                    - id: /subscriptions/subid/resourceGroups/vnetTest/providers/Microsoft.Network/serviceEndpointPolicies/ServiceEndpointPolicy1
                    serviceEndpoints:
                    - service: Microsoft.Storage
            resourceGroupName: vnetTest
            subscriptionId: subid
            virtualNetworkName: vnet1
          responses:
            '200':
              body:
                id: /subscriptions/subid/resourceGroups/vnetTest/providers/Microsoft.Network/virtualNetworks/vnet1
                location: eastus2euap
                name: vnet1
                properties:
                  addressSpace:
                    addressPrefixes:
                    - 10.0.0.0/16
                  provisioningState: Succeeded
                  subnets:
                  - id: /subscriptions/subid/resourceGroups/vnetTest/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/test-1
                    name: test-1
                    properties:
                      addressPrefix: 10.0.0.0/16
                      ipConfigurations: []
                      provisioningState: Succeeded
                      resourceNavigationLinks: []
                      serviceEndpointPolicies:
                      - id: /subscriptions/subid/resourceGroups/vnetTest/providers/Microsoft.Network/serviceEndpointPolicies/ServiceEndpointPolicy1
                      serviceEndpoints:
                      - locations:
                        - eastus2(stage)
                        - usnorth(stage)
                        provisioningState: Succeeded
                        service: Microsoft.Storage
                  virtualNetworkPeerings: []
                type: Microsoft.Network/virtualNetworks
            '201':
              body:
                id: /subscriptions/subid/resourceGroups/vnetTest/providers/Microsoft.Network/virtualNetworks/vnet1
                location: eastus2euap
                name: vnet1
                properties:
                  addressSpace:
                    addressPrefixes:
                    - 10.0.0.0/16
                  provisioningState: Succeeded
                  subnets:
                  - id: /subscriptions/subid/resourceGroups/vnetTest/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/test-1
                    name: test-1
                    properties:
                      addressPrefix: 10.0.0.0/16
                      ipConfigurations: []
                      provisioningState: Succeeded
                      resourceNavigationLinks: []
                      serviceEndpointPolicies:
                      - id: /subscriptions/subid/resourceGroups/vnetTest/providers/Microsoft.Network/serviceEndpointPolicies/ServiceEndpointPolicy1
                      serviceEndpoints:
                      - locations:
                        - eastus2(stage)
                        - usnorth(stage)
                        provisioningState: Succeeded
                        service: Microsoft.Storage
                  virtualNetworkPeerings: []
                type: Microsoft.Network/virtualNetworks
        Create virtual network with subnet:
          parameters:
            api-version: '2019-08-01'
            parameters:
              location: eastus
              properties:
                addressSpace:
                  addressPrefixes:
                  - 10.0.0.0/16
                subnets:
                - name: test-1
                  properties:
                    addressPrefix: 10.0.0.0/24
            resourceGroupName: rg1
            subscriptionId: subid
            virtualNetworkName: test-vnet
          responses:
            '200':
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/test-vnet
                location: eastus
                name: test-vnet
                properties:
                  addressSpace:
                    addressPrefixes:
                    - 10.0.0.0/16
                  provisioningState: Succeeded
                  subnets:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/test-vnet/subnets/test-1
                    name: test-1
                    properties:
                      addressPrefix: 10.0.0.0/24
                      provisioningState: Succeeded
                  virtualNetworkPeerings: []
                type: Microsoft.Network/virtualNetworks
            '201':
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/test-vnet
                location: eastus
                name: test-vnet
                properties:
                  addressSpace:
                    addressPrefixes:
                    - 10.0.0.0/16
                  provisioningState: Succeeded
                  subnets:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/test-vnet/subnets/test-1
                    name: test-1
                    properties:
                      addressPrefix: 10.0.0.0/24
                      provisioningState: Succeeded
                  virtualNetworkPeerings: []
                type: Microsoft.Network/virtualNetworks
        Create virtual network with subnet containing address prefixes:
          parameters:
            api-version: '2019-08-01'
            parameters:
              location: eastus
              properties:
                addressSpace:
                  addressPrefixes:
                  - 10.0.0.0/16
                subnets:
                - name: test-2
                  properties:
                    addressPrefixes:
                    - 10.0.0.0/28
                    - 10.0.1.0/28
            resourceGroupName: rg1
            subscriptionId: subid
            virtualNetworkName: test-vnet
          responses:
            '200':
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/test-vnet
                location: eastus
                name: test-vnet
                properties:
                  addressSpace:
                    addressPrefixes:
                    - 10.0.0.0/16
                  provisioningState: Succeeded
                  subnets:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/test-vnet/subnets/test-2
                    name: test-2
                    properties:
                      addressPrefixes:
                      - 10.0.0.0/28
                      - 10.1.0.0/28
                      provisioningState: Succeeded
                  virtualNetworkPeerings: []
                type: Microsoft.Network/virtualNetworks
            '201':
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/test-vnet
                location: eastus
                name: test-vnet
                properties:
                  addressSpace:
                    addressPrefixes:
                    - 10.0.0.0/16
                  provisioningState: Succeeded
                  subnets:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/test-vnet/subnets/test-2
                    name: test-2
                    properties:
                      addressPrefixes:
                      - 10.0.0.0/28
                      - 10.0.1.0/28
                      provisioningState: Succeeded
                  virtualNetworkPeerings: []
                type: Microsoft.Network/virtualNetworks
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      summary: Azure Networking Services Virtual Networks_ Create or Update
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VirtualNetwork'
        description: Parameters supplied to the create or update virtual network operation.
        required: true
components:
  parameters:
    apiVersion:
      name: api-version
      in: query
      required: true
      description: The API version to use for this operation.
      schema:
        type: string
    subscriptionId:
      name: subscriptionId
      in: path
      required: true
      description: The ID of the target subscription.
      schema:
        type: string
    resourceGroupName:
      name: resourceGroupName
      in: path
      required: true
      description: The name of the resource group.
      schema:
        type: string
  schemas:
    ErrorResponse:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
            target:
              type: string
    Resource:
      type: object
      properties:
        id:
          type: string
          description: Resource ID.
        name:
          type: string
          description: Resource name.
        type:
          type: string
          description: Resource type.
        location:
          type: string
          description: Resource location.
        tags:
          type: object
          additionalProperties:
            type: string
        properties:
          type: object
          description: Resource-specific properties.
    VirtualNetworkPeering:
      allOf:
      - description: Reference to another subresource.
        properties:
          id:
            description: Resource ID.
            type: string
        x-ms-azure-resource: true
      description: Peerings in a virtual network resource.
      properties:
        etag:
          description: A unique read-only string that changes whenever the resource is updated.
          type: string
        name:
          description: The name of the resource that is unique within a resource group. This name can be used to access the resource.
          type: string
        properties:
          $ref: '#/components/schemas/VirtualNetworkPeeringPropertiesFormat'
          description: Properties of the virtual network peering.
          x-ms-client-flatten: true
    VirtualNetworkPeeringPropertiesFormat:
      description: Properties of the virtual network peering.
      properties:
        allowForwardedTraffic:
          description: Whether the forwarded traffic from the VMs in the local virtual network will be allowed/disallowed in remote virtual network.
          type: boolean
        allowGatewayTransit:
          description: If gateway links can be used in remote virtual networking to link to this virtual network.
          type: boolean
        allowVirtualNetworkAccess:
          description: Whether the VMs in the local virtual network space would be able to access the VMs in remote virtual network space.
          type: boolean
        peeringState:
          description: The status of the virtual network peering.
          enum:
          - Initiated
          - Connected
          - Disconnected
          type: string
          x-ms-enum:
            modelAsString: true
            name: VirtualNetworkPeeringState
        provisioningState:
          description: The current provisioning state.
          enum:
          - Succeeded
          - Updating
          - Deleting
          - Failed
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: ProvisioningState
        remoteAddressSpace:
          $ref: '#/components/schemas/AddressSpace'
          description: The reference of the remote virtual network address space.
        remoteVirtualNetwork:
          description: Reference to another subresource.
          properties:
            id:
              description: Resource ID.
              type: string
          x-ms-azure-resource: true
        useRemoteGateways:
          description: If remote gateways can be used on this virtual network. If the flag is set to true, and allowGatewayTransit on remote peering is also true, virtual network will use gateways of remote virtual network for transit. Only one peering can have this flag set to true. This flag cannot be set if virtual network already has a gateway.
          type: boolean
    DhcpOptions:
      description: DhcpOptions contains an array of DNS servers available to VMs deployed in the virtual network. Standard DHCP option for a subnet overrides VNET DHCP options.
      properties:
        dnsServers:
          description: The list of DNS servers IP addresses.
          items:
            type: string
          type: array
    VirtualNetwork:
      allOf:
      - description: Common resource representation.
        properties:
          id:
            description: Resource ID.
            type: string
          location:
            description: Resource location.
            type: string
          name:
            description: Resource name.
            readOnly: true
            type: string
          tags:
            additionalProperties:
              type: string
            description: Resource tags.
            type: object
          type:
            description: Resource type.
            readOnly: true
            type: string
        x-ms-azure-resource: true
      description: Virtual Network resource.
      properties:
        etag:
          description: A unique read-only string that changes whenever the resource is updated.
          type: string
        properties:
          $ref: '#/components/schemas/VirtualNetworkPropertiesFormat'
          description: Properties of the virtual network.
          x-ms-client-flatten: true
    Subnet:
      allOf:
      - description: Reference to another subresource.
        properties:
          id:
            description: Resource ID.
            type: string
        x-ms-azure-resource: true
      description: Subnet in a virtual network resource.
      properties:
        etag:
          description: A unique read-only string that changes whenever the resource is updated.
          type: string
        name:
          description: The name of the resource that is unique within a resource group. This name can be used to access the resource.
          type: string
        properties:
          $ref: '#/components/schemas/SubnetPropertiesFormat'
          description: Properties of the subnet.
          x-ms-client-flatten: true
    VirtualNetworkPropertiesFormat:
      description: Properties of the virtual network.
      properties:
        addressSpace:
          $ref: '#/components/schemas/AddressSpace'
          description: The AddressSpace that contains an array of IP address ranges that can be used by subnets.
        bgpCommunities:
          $ref: '#/components/schemas/VirtualNetworkBgpCommunities'
          description: Bgp Communities sent over ExpressRoute with each route corresponding to a prefix in this VNET.
        ddosProtectionPlan:
          description: Reference to another subresource.
          properties:
            id:
              description: Resource ID.
              type: string
          x-ms-azure-resource: true
        dhcpOptions:
          $ref: '#/components/schemas/DhcpOptions'
          description: The dhcpOptions that contains an array of DNS servers available to VMs deployed in the virtual network.
        enableDdosProtection:
          default: false
          description: Indicates if DDoS protection is enabled for all the protected resources in the virtual network. It requires a DDoS protection plan associated with the resource.
          type: boolean
        enableVmProtection:
          default: false
          description: Indicates if VM protection is enabled for all the subnets in the virtual network.
          type: boolean
        provisioningState:
          description: The current provisioning state.
          enum:
          - Succeeded
          - Updating
          - Deleting
          - Failed
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: ProvisioningState
        resourceGuid:
          description: The resourceGuid property of the Virtual Network resource.
          type: string
        subnets:
          description: A list of subnets in a Virtual Network.
          items:
            $ref: '#/components/schemas/Subnet'
          type: array
        virtualNetworkPeerings:
          description: A list of peerings in a Virtual Network.
          items:
            $ref: '#/components/schemas/VirtualNetworkPeering'
          type: array
    VirtualNetworkListResult:
      description: Response for the ListVirtualNetworks API service call.
      properties:
        nextLink:
          description: The URL to get the next set of results.
          type: string
        value:
          description: A list of VirtualNetwork resources in a resource group.
          items:
            $ref: '#/components/schemas/VirtualNetwork'
          type: array
    SubnetPropertiesFormat:
      description: Properties of the subnet.
      properties:
        addressPrefix:
          description: The address prefix for the subnet.
          type: string
        addressPrefixes:
          description: List of address prefixes for the subnet.
          items:
            type: string
          type: array
        delegations:
          description: An array of references to the delegations on the subnet.
          items:
            allOf:
            - description: Reference to another subresource.
              properties:
                id:
                  description: Resource ID.
                  type: string
              x-ms-azure-resource: true
            description: Details the service to which the subnet is delegated.
            properties:
              etag:
                description: A unique read-only string that changes whenever the resource is updated.
                type: string
              name:
                description: The name of the resource that is unique within a subnet. This name can be used to access the resource.
                type: string
              properties:
                description: Properties of a service delegation.
                properties:
                  actions:
                    description: Describes the actions permitted to the service upon delegation.
                    items:
                      type: string
                    type: array
                  provisioningState:
                    description: The current provisioning state.
                    enum:
                    - Succeeded
                    - Updating
                    - Deleting
                    - Failed
                    readOnly: true
                    type: string
                    x-ms-enum:
                      modelAsString: true
                      name: ProvisioningState
                  serviceName:
                    description: The name of the service to whom the subnet should be delegated (e.g. Microsoft.Sql/servers).
                    type: string
          type: array
        ipConfigurationProfiles:
          description: Array of IP configuration profiles which reference this subnet.
          items:
            $ref: ./networkProfile.json#/definitions/IPConfigurationProfile
          readOnly: true
          type: array
        ipConfigurations:
          description: An array of references to the network interface IP configurations using subnet.
          items:
            $ref: ./networkInterface.json#/definitions/IPConfiguration
          readOnly: true
          type: array
        natGateway:
          description: Reference to another subresource.
          properties:
            id:
              description: Resource ID.
              type: string
          x-ms-azure-resource: true
        networkSecurityGroup:
          $ref: ./networkSecurityGroup.json#/definitions/NetworkSecurityGroup
          description: The reference of the NetworkSecurityGroup resource.
        privateEndpointNetworkPolicies:
          description: Enable or Disable apply network policies on private end point in the subnet.
          type: string
        privateEndpoints:
          description: An array of references to private endpoints.
          items:
            $ref: ./privateEndpoint.json#/definitions/PrivateEndpoint
          readOnly: true
          type: array
        privateLinkServiceNetworkPolicies:
          description: Enable or Disable apply network policies on private link service in the subnet.
          type: string
        provisioningState:
          description: The current provisioning state.
          enum:
          - Succeeded
          - Updating
          - Deleting
          - Failed
          readOnly: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: ProvisioningState
        purpose:
          description: A read-only string identifying the intention of use for this subnet based on delegations and other user-defined properties.
          readOnly: true
          type: string
        resourceNavigationLinks:
          description: An array of references to the external resources using subnet.
          items:
            allOf:
            - description: Reference to another subresource.
              properties:
                id:
                  description: Resource ID.
                  type: string
              x-ms-azure-resource: true
            description: ResourceNavigationLink resource.
            properties:
              etag:
                description: A unique read-only string that changes whenever the resource is updated.
                readOnly: true
                type: string
              id:
                description: Resource navigation link identifier.
                readOnly: true
                type: string
              name:
                description: Name of the resource that is unique within a resource group. This name can be used to access the resource.
                type: string
              properties:
                description: Properties of ResourceNavigationLink.
                properties:
                  link:
                    description: Link to the external resource.
                    type: string
                  linkedResourceType:
                    description: Resource type of the linked resource.
                    type: string
                  provisioningState:
                    description: The current provisioning state.
                    enum:
                    - Succeeded
                    - Updating
                    - Deleting
                    - Failed
                    readOnly: true
                    type: string
                    x-ms-enum:
                      modelAsString: true
                      name: ProvisioningState
              type:
                description: Resource type.
                readOnly: true
                type: string
          type: array
        routeTable:
          $ref: ./routeTable.json#/definitions/RouteTable
          description: The reference of the RouteTable resource.
        serviceAssociationLinks:
          description: An array of references to services injecting into this subnet.
          items:
            allOf:
            - description: Reference to another subresource.
              properties:
                id:
                  description: Resource ID.
                  type: string
              x-ms-azure-resource: true
            description: ServiceAssociationLink resource.
            properties:
              etag:
                description: A unique read-only string that changes whenever the resource is updated.
                readOnly: true
                type: string
              name:
                description: Name of the resource that is unique within a resource group. This name can be used to access the resource.
                type: string
              properties:
                description: Properties of ServiceAssociationLink.
                properties:
                  allowDelete:
                    description: If true, the resource can be deleted.
                    type: boolean
                  link:
                    description: Link to the external resource.
                    type: string
                  linkedResourceType:
                    description: Resource type of the linked resource.
                    type: string
                  locations:
                    description: A list of locations.
                    items:
                      type: string
                    type: array
                  provisioningState:
                    description: The current provisioning state.
                    enum:
                    - Succeeded
                    - Updating
                    - Deleting
                    - Failed
                    readOnly: true
                    type: string
                    x-ms-enum:
                      modelAsString: true
                      name: ProvisioningState
              type:
                description: Resource type.
                type: string
          type: array
        serviceEndpointPolicies:
          description: An array of service endpoint policies.
          items:
            $ref: ./serviceEndpointPolicy.json#/definitions/ServiceEndpointPolicy
          type: array
        serviceEndpoints:
          description: An array of service endpoints.
          items:
            description: The service endpoint properties.
            properties:
              locations:
                description: A list of locations.
                items:
                  type: string
                type: array
              provisioningState:
                description: The current provisioning state.
                enum:
                - Succeeded
                - Updating
                - Deleting
                - Failed
                readOnly: true
                type: string
                x-ms-enum:
                  modelAsString: true
                  name: ProvisioningState
              service:
                description: The type of the endpoint service.
                type: string
          type: array
    AddressSpace:
      description: AddressSpace contains an array of IP address ranges that can be used by subnets of the virtual network.
      properties:
        addressPrefixes:
          description: A list of address blocks reserved for this virtual network in CIDR notation.
          items:
            type: string
          type: array
    VirtualNetworkBgpCommunities:
      description: Bgp Communities sent over ExpressRoute with each route corresponding to a prefix in this VNET.
      properties:
        regionalCommunity:
          description: The BGP community associated with the region of the virtual network
          readOnly: true
          type: string
        virtualNetworkCommunity:
          description: The BGP community associated with the virtual network
          type: string
      required:
      - virtualNetworkCommunity
  securitySchemes:
    OAuth2Auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: Access Azure Load Balancer API
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
externalDocs:
  description: Azure Load Balancer REST API Documentation
  url: https://learn.microsoft.com/en-us/rest/api/load-balancer/
